@charset "utf-8";
@import "_ress";

html {
  font-size: 62.5%; /* 1rem = 10px */
  line-height: 1.5;
  font-family: sans-serif;
  background: #afdde7;
}
body {
  font-size: 1.6rem;
  color: #7d7774;
}
/* Link ---- */
a {
  color: #5d5754;
  &:hover {
    color: #f4ac03;
  }
  &:active {
    color: #7d7774;
  }
}

/* Form ---- */
input,
textarea,
select,
button {
  font-size: 1.6rem;
  line-height: 1.5;
  outline: none;
  &:disabled {
    background-color: #eee;
    cursor: not-allowed;
  }
}
input,
textarea,
select {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  &:hover {
    background-color: #f7f7f7;
  }
  &:focus {
    border-color: #666;
    background-color: #f7f7f7;
  }
}
select,
input[type="file"] {
  &:hover {
    cursor: pointer;
  }
}
select {
  padding-right: 24px;
  background-image: url(/select.svg);
  background-repeat: no-repeat;
  background-position: right;
}
input.wide,
textarea {
  max-width: 100%;
  width: 100%;
}
button,
input[type="button"],
input[type="submit"] {
  background-color: #f4ac03;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #ff8400;
  }
}
label {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 2px;
}
input[type="file"] {
  font-size: 1.2rem;
}

.small-text {
  font-size: 1.4rem;
}
.bold-text {
  font-weight: bold;
}
.align-center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

p,
ol,
ul,
td {
  vertical-align: baseline;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 1.4rem;
}

form {
  margin: 40px 0;
}
div {
  &.field,
  &.actions {
    margin-bottom: 16px;
  }
  &.actions {
    margin-top: 32px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

h1 {
  text-align: left;
  font-size: 1.8rem;
  margin-top: 16px;
}
.add-link-box {
  text-align: right;
}
.article-box {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  word-break: break-all;
  margin: 32px 0;
  &::after {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
    content: "";
    box-sizing: border-box;
    border: 10px solid transparent;
    border-top-color: #fff;
  }
}
.article-date-box {
  display: inline-block;
  margin-left: -16px;
}
.article-date {
  background-color: #f4ac03;
  // font-family: "Roboto";
  font-size: 1.3rem;
  line-height: 1;
  color: #fff;
  // font-weight: bold;
  padding: 4px 16px;
}
.article-weather-box {
  display: inline-block;
  margin-left: 4px;
}
.article-weather {
  font-size: 1.3rem;
  line-height: 2.6rem;
  font-weight: bold;
}
.article-place-box {
  margin: 8px 0;
}
.article-place {
  font-family: "M PLUS Rounded 1c";
  font-size: 3rem;
  font-weight: bold;
  color: #989290;
}
.article-memo {
  font-size: 1.4rem;
}
.article-footer {
  border-top: 1px dotted #ccc;
  margin-top: 16px;
  padding-top: 8px;
  font-size: 1.4rem;
}
.article-links {
  display: flex;
  justify-content: space-between;
}
.article-left-link {
  text-align: left;
}
.article-right-link {
  text-align: right;
}
.article-link {
  line-height: 1;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.delete-link {
  &,
  &:hover,
  &:visited,
  &:active {
    color: #b34a4a;
  }
}
main {
  max-width: 640px;
  background: #fff;
  margin: 0 auto;
  padding: 16px;
  &.main-index {
    max-width: 480px;
    background: none;
    padding: 0 16px;
  }
}
footer {
  margin-top: 120px;
  font-size: 1.4rem;
  text-align: center;
}

.show-item {
  margin: 10px 0;
  .title {
    font-size: 1.6rem;
  }
}
